# --------------------------------------------------
# 1. 敏感配置文件与登录凭证（绝对不能上传！）
# --------------------------------------------------
.env
BBDown.data
cookies.txt

# --------------------------------------------------
# 2. Python 运行产生的缓存文件
# --------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------------------------------------
# 3. 虚拟环境目录
# --------------------------------------------------
.venv/
venv/
ENV/

# --------------------------------------------------
# 4. IDE / 编辑器配置
# --------------------------------------------------
.idea/
.vscode/

# --------------------------------------------------
# 5. 二进制内核与大体积工具（建议提醒使用者自行下载）
# --------------------------------------------------
*.exe

# --------------------------------------------------
# 6. 本地数据输出目录（不上传爬取或下载的媒体与 JSON 数据）
# --------------------------------------------------
output/
*.json